<h1>{{ title }}</h1>
<a href="http://localhost:5000/create">Create</a>
<a href="http://localhost:5000/read">Read</a>
<a href="http://localhost:5000/update">Update</a>
<a href="http://localhost:5000/delete">Delete</a>
<p>Додати товар</p>
<form action="/create/insert" method="post">
    <input type="text" name="name" id="name" placeholder="назва">
    <input type="text" name="origin" placeholder="країна виробник">
    <input type="text" name="price" placeholder="ціна">
    <input type="text" name="type" placeholder="тип">
    <input type="text" name="quantity" placeholder="кількість">
    <button type="submit" onclick="alert('Товар додано!')">insert data</button>
</form>
<style>
    input {
        display: block;
        margin-bottom: 10px;
    }
</style>