{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    <form action="../routes/create.js">
        <input type="text" id="name" name="name" placeholder="назва"><br>
        <input type="text" id="origin" name="origin" placeholder="країна виробник"><br>
        <button type="submit">insert data</button>
    </form>
</body>
</html> --}}